<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <a href="/" class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="https://datxenhanh-24h.pro.vn/assets/image/icon/logo.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name">Xe Grab Đồng Nai</h2>
          </div>
        </a>
        <p class="footer__desc">Đặt Xe Grab Nhanh Chóng Giá Rẻ</p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            Công Ty Vận Tải Nhanh Vĩnh Cửu
          </li>
          <li class="footer__item">
            <a href="https://maps.app.goo.gl/K3cks45Sh5iv3WsMA"
              >Địa chỉ:DT767 Vĩnh Tân,Vĩnh Cửu,ĐN</a
            >
          </li>
          <li class="footer__item">
            <a href="mailto:taonhung298@gmail.com"
              >Email:taonhung298@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href="tel:0559023567">Phone:055 9023 567</a>
          </li>
          <li class="footer__item">
            <a
              href="https://m.facebook.com/xegrabxemaytaxigiaohangbienhoadongnai0336488240"
              >Fanfage</a
            >
          </li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item">
            <a href="https://datxenhanh-24h.pro.vn/">Bài viết nổi bật</a>
          </li>
          <li class="footer__item">
            <a href="https://datxenhanh-24h.pro.vn/chinh-sach-bao-mat"
              >Chính sách bảo mật</a
            >
          </li>
          <li class="footer__item">
            <a href="https://datxenhanh-24h.pro.vn/ve-chung-toi"
              >Về chúng tôi</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>© 2010 - 2025 . Ban quyen nay thuoc ve datxenhanh-24h.pro.vn</p>
    </div>
  </div>
</div>
